@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Gothic+A1:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
    /* Scroll Snap 
  scroll-snap-align: center;*/
    /* CSS Smooth Scroll 
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;*/

}

body {
  background: #F8C8C4;
  color: #3d3d3d;
  height: 100vh;
  line-height: 1.6;
  /*overflow: hidden;*/
}

.navbar {
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100px;
  font-size: 24px;
  list-style-type: none;
 }

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  font-family: Gothic A1, sans-serif;
  background-color: #F8C8C4;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 2rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #3d3d3d;
}

.navbar ul li a:hover {
  color: #f2f2f2f2;
}

ul {
   /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto;
}


.logo-image{
  width: 66px;
  height: 66px;
  margin-top: -32px;
 }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  height: 100%;
  

}

.contain {
  display: flex;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
}

img {
  max-width: 120%;
}

.heroimage {

  border-radius: 40px;
}

.img-col {
  flex-basis: 60%;


 
}
.text-col p {
  margin-top: 0px;
  font-family: Gothic A1, sans-serif;
  font-size: 24px;
  margin-left: 200px;
  
}


section h1 {
  font-family: DM Serif Display, serif;
  font-size: 4rem;
  
}
#header { 
  font-size: 72px;
  font-family: DM Serif Display, serif;
  padding-bottom: 60px;
  margin-top: 80px;
  margin-left: 200px;


}


h1 {
  font-size: 72px;
  font-family: DM Serif Display, serif;
  padding-bottom: 60px;
  margin-top: 80px;
  
}

h2 {
  font-size: 32px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-family: DM Serif Display, serif;

}

.card  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #CADFC8;
  font-size: 16px;
  color: #3d3d3d;
  height: 420px;
  width: 420px;
  border-radius: 5%;
  font-family: Gothic A1, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 20px 20px;
  border: 10px double #f2f2f2f2;
}


.basic-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
  grid-auto-rows: 440px;
  text-align: center;
}

.grid { 
  display: grid; grid-template-columns: 2fr 2fr ;
  align-items: center;
  border-radius: 5%; 
  gap: 60px;
 
}

.lead  {
  font-size: 1rem;
  font-family: Gothic A1, sans-serif;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
 
}

.cells {
background-color: #f2f2f2f2;
border: 20px double #CADFC8;
}

button {
  display: inline-block;
  background-color: #747474;
  font-family: Gothic A1, sans-serif;
  border-radius: 80px;
  border: 4px double #f2f2f2f2;
  color: #f2f2f2f2;
  
  font-size: 18px;
  padding: 10px;
  width: 100px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 200px;
  margin-top: 28px;
}

button:hover {
  background-color: #CADFC8;
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
  color: #3d3d3d;
}

#work div {
border-radius: 40px;
}

#contact {
  display: flex;
  background-color: #3d3d3d;
  padding: 50px 50px;
}

.footer a {
  font-family: Gothic A1, sans-serif;
  text-decoration: none;
  justify-content: center;
  color: #f2f2f2f2;
}

.grid img {
border-radius: 40px;
border: 20px double #CADFC8;

}

h3 {
  font-family: DM Serif Display, serif;
  text-align: center;
  font-size: 32px;
  padding: 20px;
}





 






